<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<link rel="stylesheet" href="../../css/loading.css" />

		<style>
			/*底部菜单*/
			
			.bottomMenus {
				position: fixed;
				bottom: 0;
				left: 0;
				height: 50px;
				right: 0;
				background: #212121
			}
			/*服务信息*/
			
			.mainMsg {
				background: #ccaa42;
				position: relative;
				padding-bottom: 15px;
			}
			
			.mainMsg .address {
				width: 100%;
			}
			
			.mainMsg .orderTime {
				line-height: 30px;
				margin-top: 15px;
			}
			/*作品信息*/
			
			.tabsItems {
				line-height: 2;
				margin-bottom: 10px;
				/*padding: 10px;*/
			}
			
			.tabsItemsRow {
				height: 18px;
				line-height: 18px;
				margin-bottom: 4px;
				/*background: red;*/
			}
			
			.cm_tabsContent {
				bottom: 0;
			}
			
			.itemHeader {
				line-height: 36px;
				/*background: red;*/
				border-bottom: 1px dashed #d3d3d3;
				padding: 10px;
			}
			
			.itemBody {
				padding: 10px;
			}
			
			.itemPic {
				width: 80px;
				height: 80px;
				margin-right: 10px;
				overflow: hidden;
			}
			
			.itemFoot {
				line-height: 2;
				padding: 5px;
			}
			
			.btns {
				text-align: center;
				color: #404040;
				font-size: 16px;
			}
			
			.ticketBox {
				height: 24px;
				overflow: hidden;
				width: 100%;
				margin-bottom: 4px;
			}
			
			.ticketBox .ticketItems {
				line-height: 24px;
				background: url(../../images/quan_bg.png) 0 0/100% 100% no-repeat;
				box-sizing: border-box;
				text-align: center;
				color: #fff;
				padding: 0 10px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			
			.label_tool {
				height: 18px;
				line-height: 18px;
				background: #ff004d;
				border-radius: 0 8px 8px 0;
				font-size: 10px;
				padding: 0 10px;
				color: #fff;
				margin-bottom: 5px;
			}
			
			.serverNumBox {
				box-sizing: border-box;
				padding: 25px 15px;
				justify-content: space-around;
				border-bottom: 1px dotted #d3d3d3;
				border-top: 1px dotted #d3d3d3;
			}
			
			.serverNumBox li {
				box-sizing: border-box;
				border: 2px solid #ccaa42;
				width: 40px;
				height: 40px;
				line-height: 36px;
				text-align: center;
			}
			
			.orderBtn {
				line-height: 30px;
				padding: 0 15px;
				background: #fff;
				color: #ccaa42;
				border-radius: 24px;
				height: 30px;
			}
		</style>
	</head>

	<body>
		<!--等待页面-->
		<div class="loader" style="top:0px" id="loader" style="display: block;">
			<ul>
				<li id='a'></li>
				<li id='b'></li>
				<li id='c'></li>
				<li id='d'></li>
				<li id='e'></li>
				<li id='f'></li>
				<li id='g'></li>
				<li id='h'></li>
				<li id='i'></li>
			</ul>
		</div>

		<div id="app">

			<!--分类作品-->
			<div class="" id="content">
				<!--服务地址-->
				<div class="mainMsg container">
					<div class=" cor_w lh36 fs18">
						{{detail.ORDER_STATUS | getStatus}}
					</div>
					<div class="address cor_w  flex">
						<div>服务地点：</div>
						<div class="f1">{{detail.ORDER_ADDREASS}}</div>

					</div>
					<div class="orderTime flex cor_w " >
						<div class="f1">
							预约时间： {{detail.BOOK_DATE?(detail.BOOK_DATE).replace('00:00:00',detail.BOOK_PERIOD):'尚未预约时间' }}
						</div>
						<!--1是没有预约-->
						<div class="orderBtn" v-if="currntType == 1&&orderType == 1" @tap="toOrder">
							设置预约时间
						</div>
						<!--2是已经预约-->
						<div class="orderBtn" v-if="currntType == 1&&orderType == 2" @tap="cancelOrder">
							取消预约时间
						</div>
					</div>
				</div>

				<!--作品简要信息-->
				<div class="tabsItems  panel">
					<div class="itemHeader container flex" @tap="_navigateTo('../technician/technician.html','technician',{shopCode:detail.SHOP_CODE})">
						<aside class="f1 flex">
							<img :src="detail.SHOP_LOGO?detail.SHOP_LOGO:'../../images/default_avatar.jpg'" @error="_default" alt="" class="avatar" />
							<div class="">{{detail.SHOP_NAME}}</div>
						</aside>
						<span class="mui-icon mui-icon-arrowright" style="margin-top: 5px;"></span>
					</div>
					<div class="itemBody flex" @tap="_navigateTo('../production/productBuy.html','productBuy',{proKey:detail.PROJECT_CODE})">
						<div class="itemPic">
							<img :src="detail.PROJECT_IMG1" alt="" class="cover" />
						</div>
						<div class="f1">
							<div class="flex tabsItemsRow">
								<div class=" t_l f1">{{detail.PROJECT_NAME}}</div>
								<div class="  t_r">×1</div>
							</div>
							<div class="flex tabsItemsRow">
								<p class=" t_l f1 ">原价:</p>
								<div class="  t_r cor_g ">￥{{detail.PROJECT_PRICE}}</div>
							</div>
							<div class="ticketBox flex " v-show="coupon.Name?true:false">
								<div class="ticketItems">{{coupon.Name}}</div>
							</div>
							<div class="flex tabsItemsRow">
								<p class=" t_l f1 ">差价金额:</p>
								<div class="  t_r cor_g ">￥{{detail.ORDER_AGIO_AMOUNT}}</div>
							</div>
							<div class="flex tabsItemsRow">
								<div class=" t_l f1">交易价格:</div>
								<div class="  t_r ">￥{{detail.ORDER_PAY_AMOUNT}}</div>
							</div>
						</div>
					</div>
				</div>
				<!--支付信息-->
				<div class="panelPad ">
					<p class="lh24">订单号: <span class="fr">{{detail.ORDER_CODE}}</span></p>
					<p class="lh24">创建时间: <span class="fr">{{detail.CREATE_TIME}}</span></p>
					<p class="lh24">客户昵称: <span class="fr">{{detail.MEMBER_NIKENAME}}</span></p>
					<p class="lh24">联系方式: <span class="fr">{{detail.MEMBER_MOBILE}}</span></p>
					<!--<p class="lh24">订单类型: {{detail.PAY_WAY | payWay}}</p>-->
					<!--<p class="lh24">店铺充值卡编码: {{detail.CREATE_TIME}}</p>-->

					<div class="flex lh36" style="border-top: 1px dashed #d3d3d3;">
						<aside>总金额:</aside>
						<h3 class="f1 cor_r t_r lh36">￥{{detail.ORDER_TOTAL_AMOUNT}}</h3>
					</div>

				</div>

				<!--小贴士-->
				<div class="toolnode no-bg cor_g t_c">
					马嘿嘿提醒你
				</div>
			</div>
			<!--发布新作品-->
			<div class=" bottomMenus flex">
				<h3 class="cor_y t_c cm_btnTxt f1" @tap="_callPhone">致电商家</h3>
				<h3 class="cor_y t_c cm_btnTxt f1" v-if="detail.ORDER_STATUS_TYPE==3" @tap="_toComment(detail)">去评价</h3>
				<h3 class="cor_w t_c cm_btnTxt f1 bg_y" v-if="detail.ORDER_STATUS_TYPE==0" @tap="_toPay(detail.ORDER_CODE)">去付款</h3>
				<h3 class="cor_w t_c cm_btnTxt f1 bg_y" v-if="serverNum" @tap="_beginServer(true)">查看服务码</h3>
			</div>

			<!--验证码校验框-->
			<div class="cm_mask_bot" v-if="serverNum && show" @tap.self="_beginServer(false)">
				<div class="cm_modal_bot">
					<h3 class="cm_title t_c">开始服务</h3>
					<ul class="flex serverNumBox">
						<li class="">
							{{serverNum[0]}}
						</li>
						<li class="">
							{{serverNum[1]}}
						</li>
						<li class="">
							{{serverNum[2]}}
						</li>
						<li class="">
							{{serverNum[3]}}
						</li>
						<li class="">
							{{serverNum[4]}}
						</li>
						<li class="">
							{{serverNum[5]}}
						</li>
						<!--<input class="serverNum f2" type="text" v-model="serverNum" />-->
					</ul>
					<div class="flex container">
						<!--<div class="cm_btn f2" @tap="_validServerNum">
							验证服务码
						</div>-->
						<div class="cm_btn f2" @tap="_beginServer(false)">
							关闭
						</div>
					</div>

				</div>
			</div>

		</div>

		<script src="../../js/mui.min.js"></script>
		<script src="../../js/aes.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/bscroll.min.js"></script>

		<script type="text/javascript">
			mui.init({
				swipeBack: true
			});
			var APP
			mui.plusReady(function() {
				app.WXinit(CryptoJS)
				APP = new Vue({
					el: '#app',
					data: {
						detail: '',
						coupon: '',
						/*订单信息*/
						show: false, //模态框显示
						serverNum: '', //服务码
						currntType: -1,
						orderType: -1
					},
					created: function() {},
					mounted: function() {

						this._initData()

					},
					filters: {
						tabStatus(value){
							switch(value) {
								case '0':
									return '待付款'
									break;
								case '1':
									return '待服务'
									break;
								case '2':
									return '服务中'
									break;
								case '3':
									return '已完成'
									break;
								case '4':
									return '退款'
									break;							
								default:
									break;
							}
						}
						,
						getStatus(value) {
							switch(value) {
								case '0':
									return '待付款'
									break;
								case '1':
									return '已支付'
									break;
								case '2':
									return '待服务'
									break;
								case '3':
									return '服务中'
									break;
								case '4':
									return '待评价'
									break;
								case '5':
									return '已完成'
									break;
								case '6':
									return '退款中'
									break;
								case '7':
									return '退款成功'
									break;
								case '8':
									return '退款失败'
									break;
								case '9':
									return '已取消'
									break;
								default:
									break;
							}
						},
						payWay(value) {
							switch(value) {
								case '1':
									return '项目订单'
									break;
								case '2':
									return '平台充值卡订单'
									break;
								case '3':
									return '商铺充值卡订单'
									break;
								default:
									break;
							}

						}
					},
					methods: {
						/*未付款订单 直接付款*/
						_toPay(payCode) {
							mui.openWindow({
								url: '../production/toPay.html',
								id: "toPay",
								styles: {
									top: '0px', //新页面顶部位置
									bottom: '0px', //新页面底部位置
									scrollIndicator: "none",
									plusrequire: 'ahead',
									// 窗口参数 参考5+规范中的WebviewStyle,也就是说WebviewStyle下的参数都可以在此设置
									titleNView: { // 窗口的标题栏控件
										autoBackButton: true,// 标题栏文字,当不设置此属性时，默认加载当前页面的标题，并自动更新页面的标题
										titleColor: "#fff", // 字体颜色,颜色值格式为"#RRGGBB",默认值为"#000000"
										titleSize: "14px", // 字体大小,默认17px
										backgroundColor: "#ccaa42", // 控件背景颜色,颜色值格式为"#RRGGBB",默认值为"#F7F7F7"
										progress: { // 标题栏控件的进度条样式
											color: "#fff", // 进度条颜色,默认值为"#00FF00"  
											height: "2px" // 进度条高度,默认值为"2px"         
										},
										splitLine: { // 标题栏控件的底部分割线，类似borderBottom
											color: "#e6be65", // 分割线颜色,默认值为"#CCCCCC"  
											height: "1" // 分割线高度,默认值为"2px"
										}
									}
								},
								createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
								show: {
									autoShow: true, //页面loaded事件发生后自动显示，默认为true
									duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
								},
								extras: {
									payCode: payCode
								},
								waiting: {
									autoShow: true, //自动显示等待框，默认为true
									title: '正在加载...', //等待对话框上显示的提示内容
								}
							})

						},
//						去评价
						_toComment(item){
							mui.openWindow({
								url: '../production/editComment.html',
								id: 'editComment',
								styles: {
									top: '0px', //新页面顶部位置
									bottom: '0px', //新页面底部位置
									scrollIndicator: "none",
									plusrequire: 'ahead',
									// 窗口参数 参考5+规范中的WebviewStyle,也就是说WebviewStyle下的参数都可以在此设置
									titleNView: { // 窗口的标题栏控件
										autoBackButton: true,// 标题栏文字,当不设置此属性时，默认加载当前页面的标题，并自动更新页面的标题
										titleColor: "#fff", // 字体颜色,颜色值格式为"#RRGGBB",默认值为"#000000"
										titleSize: "14px", // 字体大小,默认17px
										backgroundColor: "#ccaa42", // 控件背景颜色,颜色值格式为"#RRGGBB",默认值为"#F7F7F7"
										progress: { // 标题栏控件的进度条样式
											color: "#fff", // 进度条颜色,默认值为"#00FF00"  
											height: "2px" // 进度条高度,默认值为"2px"         
										},
										splitLine: { // 标题栏控件的底部分割线，类似borderBottom
											color: "#e6be65", // 分割线颜色,默认值为"#CCCCCC"  
											height: "1" // 分割线高度,默认值为"2px"
										}
									}
								},
								createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
								show: {
									autoShow: false, //页面loaded事件发生后自动显示，默认为true
									duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
								},
								extras: {
									product:item
								},
								waiting: {
									autoShow: true, //自动显示等待框，默认为true
									title: '正在加载...', //等待对话框上显示的提示内容
								}
							})
						},
//						回传时间
						_orderTime(date){
							if(date&&date!="-"){
								var _this= this
								var time = app.dateFormate(date)
//								console.log(time)
								plus.nativeUI.showWaiting()
								var self = plus.webview.currentWebview();

								app.ajax(app.baseUrl + '/api/OrderService/SetOrderServiceTime', {
										data: {
											orderCode: self.orderId,
											date:time.split(' ')[0],
											point:time.split(' ')[1]
										},
										type: 'post', //HTTP请求类型
										success: function(result) {
											if(result.Success) {
												plus.nativeUI.closeWaiting()
												plus.nativeUI.toast('修改成功')
												
												_this._initData()
											} else {
												plus.nativeUI.toast(result.Msg)
												plus.nativeUI.closeWaiting()
											}
										}
									});
							}
						},
						//						去预约时间
						toOrder() {
							var self = plus.webview.currentWebview();
							self.setStyle({
								mask: 'rgba(0,0,0,.7)'
							});
							plus.nativeUI.showWaiting()
							var w = plus.webview.create('../production/timePicker.html', 'timePicker', {
								top: '200px',
								bottom: '0'
							}, {
								account: this.detail.ACCOUNT_CODE,
								pId: 'orderDetail'
							});
							mui.later(()=>{
								plus.nativeUI.closeWaiting()
								w.show('slide-in-bottom', 300, function() {}, {})
							},1000)
						},
						//						取消预约时间
						cancelOrder() {
							plus.nativeUI.confirm('确认取消当前预约的时间？', (event) => {
								var _this = this
								var self = plus.webview.currentWebview();
								var index = event.index;
								
								if(index == 0) {
									plus.nativeUI.showWaiting()
									app.ajax(app.baseUrl + '/api/OrderService/CancelOrderServiceTime', {
										data: {
											orderCode: self.orderId
										},
										type: 'post', //HTTP请求类型
										success: function(result) {
											document.getElementById('loader').style.display = 'none'
											if(result.Success) {
												plus.nativeUI.toast('取消成功')
												plus.nativeUI.closeWaiting()
												_this._initData()
											} else {
													plus.nativeUI.toast(result.Msg)
													plus.nativeUI.closeWaiting()
											}
										}
									});
								}
							})

						},
						//						默认头像
						_default(e) {
							var dom = e.target;
							//							console.log(dom)
							dom.src = "../../images/default_avatar.jpg"
						},
						_initData(callback) {
							var _this = this
							var self = plus.webview.currentWebview();
							/*加载获取订单详情*/
							app.ajax(app.baseUrl + '/api/OrderService/GetOrder', {
								data: {
									ORDER_CODE: self.orderId
								},
								type: 'get', //HTTP请求类型
								success: function(result) {
									document.getElementById('loader').style.display = 'none'
									if(result.Success) {
										// 储存本地 记录登陆时间	
										_this.detail = result.Data.data
										_this.coupon = result.Data.Coupon;
										_this.serverNum = result.Data.data.SERVICE_NUM
										_this.currntType = _this.detail.ORDER_STATUS_TYPE
										_this.orderType = _this.detail.ORDER_STATUS

										if(callback) callback()
									} else {
										/*验证失败*/
										if(callback) callback()
									}
								}
							});
						},

						/*完成服务*/
						_completeServer() {
							plus.nativeUI.confirm('确认已经完成服务？', (event) => {
								var index = event.index;
								if(index == 0) {
									plus.nativeUI.showWaiting('提交中')
									app.ajax(app.baseUrl + '/api/BusiOrderService/SuccessOrderService', {
										data: {
											ORDER_CODE: this.detail.ORDER_CODE
										},
										// dataType:'json',//服务器返回json格式数据
										type: 'post', //HTTP请求类型

										success: function(result) {
											plus.nativeUI.closeWaiting()
											if(result.Success) {
												plus.nativeUI.toast('服务已完成');
												_this._initData()
											} else {
												/*验证失败*/
												plus.nativeUI.toast(result.Msg)

											}
										}
									});
								}

							}, {
								title: '马嘿嘿提醒您'
							})
						},
						//	左右滑动切换
						_swipipeTab(w) {
							if(w > 0) {
								//									向右
								this.currtab++
							} else {
								//									向左
								this.currtab--
							}
							if(this.currtab <= 0) {
								this.currtab = 4
							} else if(this.currtab > 4) {
								this.currtab = 1
							}
						},
						/*跳转页面*/
						_navigateTo(dstUrl, dstId, extras) {
							mui.openWindow({
								url: dstUrl,
								id: dstId,
								styles: {
									top: '0px', //新页面顶部位置
									bottom: '0px', //新页面底部位置
									scrollIndicator: "none",
									plusrequire: 'ahead'
								},
								createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
								show: {
									autoShow: true, //页面loaded事件发生后自动显示，默认为true
									duration: 300 //页面动画持续时间，Android平台默认100毫秒，iOS平台默认200毫秒；
								},
								extras: extras,
								waiting: {
									autoShow: false, //自动显示等待框，默认为true
									title: '正在加载...', //等待对话框上显示的提示内容
								}
							})
						},
						/*开始服务*/
						_beginServer(b) {
							this.show = b
						},
						/*致电*/
						_callPhone() {
							plus.nativeUI.toast('致电中，请稍等')
							plus.device.dial(this.detail.SHOP_MOBILE, false);
						},
						/*验证服务码*/
						_validServerNum() {

						}
					}
				})

			});
			function hasTime(date) {
				if(date=="-"){
					APP._orderTime('-')					
				}else if(date) {
					/*如果有回传选择的日期*/
					let time = new Date(date)
					APP._orderTime(time)					
				}
					
				var self = plus.webview.currentWebview();
				self.setStyle({
					mask: 'none'
				});
			}
		</script>
	</body>

</html>